.vs/
bin/
obj/
Finance_Manager_WPF_Front/appsettings.json
Finance_Manager_WPF_Front/appsettings.enc
Finance_Manager_WPF_Front/Finance_Manager_WPF_Front.csproj.user
Finance_Manager_WPF_Front/Properties/launchSettings.json
Finance_Manager_WPF_Front/logs